body {
  font-family: sans-serif;
  font-size: 100%;
  background-color: #ababab;
  display: flex;
  flex-direction: column;
  
}
header {
  text-align: center;
  background-color: rgb(101, 101, 101);
  justify-content: center;
  font-family: sans-serif;
}

footer {
  background-color: rgb(202, 203, 204);
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

#heading {
  font-family: sans-serif;
  font-size: 115%;
  background-color: rgb(74, 74, 75);
  padding: 1rem;
  color: aliceblue;
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 20%;
  background-color: rgb(202, 203, 204);
  padding: 1rem;
  border-radius: none;
}

.sidebar ul {
  position: relative;
  width: 100%;
  display: flexbox;
  flex-direction: column;
}

ul li {
  list-style: disc;
}

.sidebar ul li a:hover {
  left: 10px;
}

.Background-image{
  background-repeat:no-repeat
}

.sidebar ul li a {
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  padding: 5px 30px;
  margin: 10px 0;
  
}

.nav-menu li {
  list-style-type: circle;
  padding: 0%;
}

.nav-menu :hover {
  color: rgb(252, 151, 0);
}

h1 {
  text-align: center;
}

h2 {
  font-size: 40px;
  background-color: rgb(213, 208, 208);
  margin: 20px;
  padding: 40px;
  border-style: groove;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: rgb(97, 95, 95);
}

h3 {
  color: rgb(14, 13, 13);
  height: fit-content;
}

#profile-photo {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 4px solid rgb(200, 200, 200);
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  overflow: unset;
  font-family: sans-serif;
}

#icons {
  width: 3rem;
  margin: 0.5rem;
  height: auto;
  border-radius: 100px;
}


@media(max-width: 768px) {
  .sidebar{
      display:none;}
  #icons { width: 1rem;
    margin: 0%;
    border-radius: 50px;
    
  }
  }


  



/* 
@media(max-width: 992px) {.INTRO{
  display: inline-block;
}
  
  }


@media(max-width: 1200px) {.INTRO{
  display: flex;
}
  
} */
